*{
    margin: 0;
    box-sizing: border-box;
}
.div{
    text-align: center;
}
.divProductos{
    display: flex ; 
    flex-wrap:wrap ; 
    gap:20px ; 
    padding-top: 40px;
    margin:  auto;
    justify-content: center;
}
.grid1{
    width: 50%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 30% 70%;

}
.img-container{
    width: 200px;
    margin: auto;
}
h2{
    text-align: center;
    padding-top: 50px;
}
.cont{
    width: 90%;
    margin: auto;
}